<!DOCTYPE html>
<html ng-app="DashboardApp" ng-controller="NavController">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/angular-material/themes/green-theme.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">

    <link rel="stylesheet" href="/styles/material-docs.css">
    <link rel="stylesheet" href="/styles/main.css">

</head>
<body layout="row" md-theme="green">

  <md-sidenav md-is-locked-open="true" class="md-sidenav-left md-whiteframe-z2">
    
    <md-toolbar>
      <h1 class="md-toolbar-tools">Dashboards</h1>
      <select ng-model="selectedDashboardSetName">
        <option ng-repeat="(setName, v) in db.dashboards" value="{{setName}}">{{setName | humanize}}</option>
      </select>
    </md-toolbar>
    
    <md-content layout="column">
      <div ng-repeat="(dateName, dateGroup) in db.dashboards[selectedDashboardSetName].dashboards">

        <md-button class="md-menu-item menu-item" md-ink-ripple="#bbb" ng-href="#/{{selectedDashboardSetName}}/{{dateName}}">
          {{dateName}}
        </md-button>

        <div ng-repeat="(areaName, areaGroup) in dateGroup.dashboards">
          <a class="menu-item md-menu-item" ng-href="#/{{selectedDashboardSetName}}/{{dateName}}/{{areaName}}" ng-show="selectedDateName == dateName">
            {{areaName | humanize}}
          </a>

          <a class="menu-item menu-sub-item md-menu-item" ng-href="#/{{selectedDashboardSetName}}/{{dateName}}/{{areaName}}/{{teamName}}" ng-repeat="(teamName, teamDashboard) in areaGroup.dashboards" ng-show="selectedAreaName == areaName">
            {{teamName | humanize}}
          </a>

        </div>
      </div>
    </md-content>
  </md-sidenav>

  <md-content ng-view>
    Hello {{world}} :)
    <md-button>Hello Button</md-button>
  </md-content>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/hammerjs/hammer.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
    
  <script src="/scripts/app.js"></script>

</body>
</html>